In [68]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [69]:
df=pd.read_csv("C:\\Users\\jyoti\\OneDrive\\Desktop\\data\\diabetes_dataset.csv")

In [70]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [71]:
df.keys()

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [73]:
df.shape

(768, 9)

In [74]:
df.isnull()#.sum()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

In [75]:
df.isnull().mean()*100

Pregnancies                 0.0
Glucose                     0.0
BloodPressure               0.0
SkinThickness               0.0
Insulin                     0.0
BMI                         0.0
DiabetesPedigreeFunction    0.0
Age                         0.0
Outcome                     0.0
dtype: float64

In [76]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [77]:
df['Outcome'].value_counts() 
# 0 means Non-diabetic 
# 1 means diabetic

0    500
1    268
Name: Outcome, dtype: int64

In [78]:
df.groupby('Outcome').mean()
#we use this groupy to hav a good prediction , and with the help of this insights our model will predict the value
# and differentiate the person is diabetic or not

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [79]:
j= df.drop(columns= 'Outcome', axis= 1)
k= df['Outcome']

In [80]:
print(j)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [81]:
print(k)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [82]:
  # now we have to standardize the according to our need as we see that different coloumn carries different ranges
    #standardize the data in particular range that helps our machine learning model to make better prediction

In [83]:
from sklearn.preprocessing import StandardScaler

In [84]:
scaler= StandardScaler()

In [85]:
l=scaler.fit_transform(j)

In [86]:
print(l)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [87]:
x= l
y= k

In [89]:
print(x)
print(y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [90]:
from sklearn.model_selection import train_test_split

In [91]:
 x_train,x_test,y_train,y_test = train_test_split(x,y, test_size= 0.3, stratify= y, random_state=2)

In [92]:
print(x.shape,x_train.shape,x_test.shape)

(768, 8) (537, 8) (231, 8)

In [93]:
from sklearn import svm

In [94]:
classifier= svm.SVC(kernel='linear')

In [95]:
classifier.fit(x_train,y_train)

SVC(kernel='linear')

In [97]:
from sklearn.metrics import accuracy_score

In [98]:
x_train_prediction = classifier.predict(x_train)
training_data_accuracy= accuracy_score(x_train_prediction, y_train)

In [99]:
print(training_data_accuracy)

0.7821229050279329

In [100]:
x_test_prediction = classifier.predict(x_test)
test_data_accuracy= accuracy_score(x_test_prediction, y_test)

In [101]:
print(test_data_accuracy)

0.7748917748917749

In [102]:
# making predicting system

In [108]:
input_data =(4,110,92,0,0,37.6,0.191,30)

#changing input_data as numpy array
input_data_as_numpy_array= np.asarray(input_data)

#reshaping the array as we are predecting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

#standardize the input data
std_data= scaler.transform(input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)

if( prediction[0]==0):
    print('not diabetic')
else:
    print('diabetic')

[[ 0.04601433 -0.34096773  1.18359575 -1.28821221 -0.69289057  0.71168975
  -0.84827977 -0.27575966]]
[0]
not diabetic

C:\Users\jyoti\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [109]:
input_data =(5,166,72,19,175,25.8,0.587,51)

#changing input_data as numpy array
input_data_as_numpy_array= np.asarray(input_data)

#reshaping the array as we are predecting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

#standardize the input data
std_data= scaler.transform(input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)

if( prediction[0]==0):
    print('not diabetic')
else:
    print('diabetic')

[[ 0.3429808   1.41167241  0.14964075 -0.09637905  0.82661621 -0.78595734
   0.34768723  1.51108316]]
[1]
diabetic

C:\Users\jyoti\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [111]:

from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

knn = KNeighborsClassifier()
log_class = LogisticRegression()
dec_class = DecisionTreeClassifier()
rand_class = RandomForestClassifier()
svm_class = SVC()

model_list = [knn, log_class, dec_class, rand_class, svm_class]

model_dict = {}
for model in model_list:
    model.fit(x_train, y_train)
    model_dict[model.__class__.__name__]  = model.score(x_test, y_test)

In [112]:
model_dict

{'KNeighborsClassifier': 0.7445887445887446,
 'LogisticRegression': 0.7792207792207793,
 'DecisionTreeClassifier': 0.670995670995671,
 'RandomForestClassifier': 0.7619047619047619,
 'SVC': 0.7662337662337663}

In [113]:
pd.DataFrame([model_dict], index = ["Accuracy"]).T

                        Accuracy
KNeighborsClassifier    0.744589
LogisticRegression      0.779221
DecisionTreeClassifier  0.670996
RandomForestClassifier  0.761905
SVC                     0.766234